[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Corso/client-gateway-.git
[submodule "ordersa-microservice"]
	path = ordersa-microservice
	url = https://github.com/Nest-Microservices-Corso/orders-microservice.git
